@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

main {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 288px !important;
    padding-bottom: 25px;
    overflow-y: scroll;
}

.add-btn {
    background: #2CA4D8;
    color: white;
    box-shadow: 0px 2px 20px rgba(56, 181, 235, 0.2);
    border-radius: 10px;
    
}

footer {
    position: absolute;
    height: 25px;
    width: 100%;
    background-color: #f0f0f0;
    bottom: 0;
}

// Global Styles

.btn {
    font-family: 'Roboto', sans-serif;
}

.btn:focus {
    box-shadow: unset;
}

.status {
    color: white;
    
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 16px;
    font-size: 0.85rem;
    width: 5rem;
    margin-top: 15px;

    font-weight: 500;
}

.passed {
    background-color: #2CBF6E;
}
.failed {
    background-color: #F24643;
}

.grade {
    font-weight: 500;
}

.excellent {
    color: #2CBF6E;
}

.poor {
    color: #F24643;
}

.average {
    color: #2CA4D8;
}

.-- {
    color: black;
    padding-right: 65px;
}